.banner {
  background-image: url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  height: 600px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.banner-head,
.banner-title {
  font-family: Merriweather;
  color: #fff;
  text-align: center;
}
.banner-title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0px;
}
.banner-head {
  font-size: 72px;
  font-weight: 900;
  margin-top: 20px;
}
.banner-content {
  width: 630px;
}
/* discount-section styles */
.discount-section {
  text-align: center;
}
.discount-head {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-top: 120px;
  margin-bottom: 0px;
}
.discount-slogan {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 0px;
}
.all-category {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
}
