.banner {
  background-image: url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  height: 600px;
  background:(to right,#070211 20%, rgba(7, 2, 17, 0.00) 100%);


  
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.banner-head,
.banner-title {
  font-family: Merriweather;
  color: #fff;
  text-align: center;
}
.banner-title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0px;
}
.banner-head {
  font-size: 72px;
  font-weight: 900;
  margin-top: 20px;
}
.banner-content {
  width: 630px;
}
/* discount-section styles */
.discount-section {
  text-align: center;
  margin-bottom: 120px;
}
.discount-head {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-top: 120px;
  margin-bottom: 0px;
}
.discount-slogan {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 0px;
}
.all-category {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
}
/* Welcome banner style */
.midnight-party-section {
  background-image: url("..//resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  height: 600px;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.welcome-text {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}
.join-now-text {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.midnight-party-section-left {
  width: 600px;
  /* margin: 0 auto; */
  /* padding-left: 400px;
  padding-top: 100px; */
}
/* party location section style */
.party-location {
  /* height: 500px; */
  margin: 100px auto;
  background-color: aquamarine;
  text-align: center;
  padding: 100px 380px;
}
.party-location > h2 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.btn-join {
  background-color: #f00;
  padding: 16px 30px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  border-style: none;
}
/* Gift section style */
.item-container {
  display: inline-grid;
  /* grid-template-columns:30% 30% 30%; */
  grid-template-columns: 33% 33% 33%;
  /* padding: 0px 140px; */
  gap: 20px;
}
.item:hover {
  background-color: rgb(255, 142, 142);
  padding: 10px;
  transition: background-color 0.3s ease;
}
.gift-section {
  margin-left: 295px;
  margin-bottom: 120px;
}
.gift-slogan {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}
.gift-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin: 18px 0px;
}
.gift-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 45px;
  width: 70%;
}
.subscribe-section {
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin-bottom: 120px;
}
.subscribe-section-head {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.subscribe-section-info {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.subscribe-section-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  padding: 24px 55px;
}
.input-box {
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid lightgray;
  /* border-radius: 0px 50px 50px 0px; */
  border-radius: 50px 0px 0px 50px;
  padding: 24px 55px;
  border-right: none;
}
/* footer section style */
.footer-section {
  background: #070211;
  height: 600px;
  padding: 120px 240px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.address {
  width: 30%;
  line-height: 40px;
}
.social-container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}
.footer-text {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
